body {
    background-color: #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px; 
}

.videoshell {
    
    background-image: url("photoassets/high-rez-dtla_postcard.jpeg");
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    align-content: center;
    border: 8px solid #b87333;
   
}

.videobox {
    padding: 15% 15%;
    align-content: center;
}

.filmshell {
    background-image: url("photoassets/downtown_postcard.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 500px;
    z-index: -1;
}

.filmbox {
    margin: 15%;
    align-content: center;
    background-color: black;
    width: 75%;
    height: 75%;
    
}

nav ul{
    list-style: none;
    
}

li {
    display: inline;
}
h1 {
    color: white;
    font-size: 2rem;
    max-width: 30%;
}

h2 {
    color: white;
    font-size: 1rem;
}

h3 {
    color: white;
    font-size: .75rem;
}

hr {
    height: 1px;
    width: 100px;
    color:white;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0% 25%;
    position: relative;
}

nav li {
    padding: 5px;
}


#hero {
    max-width: 1200px;
    max-height: 425px;
}