body {
    background-color: #000000;
    color: white;
}

header {
    
}

.videoshell {
    max-width: 90%;
    background-image: ~/Users/yankeejim/youtoo/YouTooSite/photoassets("iiif-service_gmd_gmd436_g4363_g4363l_la000024-full-pct_12.5-0-default.jpg");
}

.videobox {
    max-width: 80%;

}