body {
    background-color: #000000;
    color: white;
    font-family: "Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 16px; 
}


.container {
    margin-left: 5%;
    margin-right: 10%;
    display: flex;
    
}

.left_language {
    justify-content: top;
    align-content: left;
    max-width: 5%;
}

.videoshell {
    
    background-image: url("photoassets/high-rez-dtla_postcard.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    align-content: center;
    border: 8px solid #b87333;
    width: 90%;
    height: 90%;
   
}

.videobox {
    padding: 15% 15%;
    align-content: center;
}

.lookshell {
    background-image: url("photoassets/downtown_postcard.jpeg");
    /*background-repeat: no-repeat;
    /*background-size: cover;*/
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 500px;
    /* z-index: -1; */
}

.lookbox {
    margin: 15%;
    align-content: center;
    background-color: black;
    width: 75%;
    height: 75%;
    /*z-index: 1 */
}

.peopleshell{
    background-image: url("photoassets/LA_Traffic_Map_1924.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 500px;
    z-index: -1;
}

.peoplebox{
    margin: 15%;
    align-content: center;
    background-color: black;
    width: 75%;
    height: 75%;
    z-index: 1
}

.storyshell{
    background-image: url("photoassets/broadway_postcard.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 500px;
    z-index: -1;
}

.storybox {
    margin: 15%;
    align-content: center;
    background-color: black;
    width: 75%;
    height: 75%;
    z-index: 1
}

.placeshell {
    background-image: url("photoassets/LA_1891_map.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 500px;
    z-index: -1;
}

.placebox {
    margin: 15%;
    align-content: center;
    background-color: black;
    width: 75%;
    height: 75%;
    z-index: 1
}
nav ul{
    list-style: none;
    
}

li {
    display: inline;
}
h1 {
    color: white;
    font-size: 3rem;
    max-width: 30%;
}

h2 {
    color: white;
    font-size: 2rem;
}

h3 {
    color: white;
    font-size: .75rem;
}

hr {
    height: 1px;
    width: 100px;
    color:white;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0% 25%;
    position: relative;
}

nav li {
    padding: 5px;
}


#hero {
    max-width: 1200px;
    max-height: 425px;
}